.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 60px;
  border-bottom: 1px solid #ddd;
  background: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 500;
  position: relative;
}

.nav a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  bottom: -6px;
  left: 0;
}

.icons {
  display: flex;
  gap: 18px;
  cursor: pointer;
}

.icons svg:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
